@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Noticia+Text&display=swap');
*{
    margin: 0;
    padding: 0;
}
 .App{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: lightblue;
    /*font-family: 'Neonderthaw', cursive;*/
    font-family: 'Noticia Text', serif;
 }
 